
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        /* header {
            background-color: #520103;
            color: #fff;
            text-align: center;
            padding: 1em;
            height:50px;
        }
       */

        form {
            width: 50%;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

         button {
            background-color:  #520103;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: white;
            color: #520103;
            border-color: #520103;
            border-style: solid;
        }

         /* footer {
            background-color: #520103;
            color: white;
            text-align: center;
            padding: 1em;
            
            bottom: 0;
            width: 100%;
            
            margin-top: 50px;
            height: 50px;
            padding-bottom: 5px;
            font-size: 12px;
        } 
         */
        .footer-inf{
            margin-top: 100px;
        }

     
   #content{
    height: 500px;
   }
   .head-set{
    display: block;
   }
   header {
    background-color: #520103;
    color: white;
    
    height: 50px;
    
    /* display: block; */
    background-position: center top;
    padding-top: 0%;
    
    }
    footer{
        text-align: center;
        background-color: #520103;
        height: 100px;
        padding-top: 25px;
        color: white;
      
        
        
    }
    
    
    .home{
    display: inline-block;
    margin-right: 50px;
    }
    
    
    .list{
    display: block;
    float: right;
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
    margin-right:0px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    
    }
    .home:hover{
    opacity: 0.5;
    
    
    }
    a {
    color:white;
    text-decoration: none;
    -webkit-text-stroke-color: 5px #520103;
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .img{
       width: 100px;
       margin-left: 20px;
       display:inline-block; 
    }
    .img-div{
        float: left;
        margin-top: 20px;
        display:inline-block;
        margin: left 50px; 
        object-fit:contain;
    }
    h1{
        display: inline-block;
        color:#520103;
        margin-top:50px;
        Margin-left:5px;
        font-size:15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
       
       
    }
    h2{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 60px;
        color: #520103;
        padding-right: 100px;
       
    }
    #home{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 700px;
        display:block;
    }
    
    
    
    .h{
        display:inline-block;
       
    }
    .img-box{
    background-image: url("../IMS/assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 600px;
    margin-top: 100px;
    }
    .form1{
        margin-top: 70px;
    }
